#body {
  background: linear-gradient(#009688 10%, #dadbd4 10%);
  position: relative;
}

#exampleForm\.ControlTextarea1 {
  margin-left: 10px;
  width: 95%;
}
#root > nav {
  border-bottom: solid 3px rgb(230, 227, 227) !important;
}

#root > div > div.col-md-4 > div > div:nth-child(n) {
  border-right: solid 3px rgb(230, 227, 227) !important;
}
#root > div > div.col-md-4 > div > div:nth-child(n) > img {
  height: 25px;
}

#historyChat {
  margin-top: 20px;
}

#historyChat > div:nth-child(3) > div > div {
  display: flex;
  align-items: flex-end;
}

#root > div > div.col-md-8 > div > div:nth-child(1) {
  height: 450px;

  overflow-y: scroll;
}
#addPic {
  font-size: 27px;
  display: flex;
  justify-content: end;
}

#addPic > button {
  background-color: rgb(207, 248, 239);
  margin-top: 6px;
  border: none;
  color: black;
  border-radius: 5%;
  margin-right: 15px;
}

#addPic > button > svg {
  color: black;
  font-size: 30px;
}
#smallsearch {
  width: fit-content;
  display: inline-block;
  width: 90%;
  border-radius: 15px;
}

#userNav {
  display: inline-block;
}

#userIcons {
  display: inline-block;
}
